.cover__link {
  position: relative;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../../images/cover-trains.jpg') no-repeat center / cover;
  padding-bottom: 62.5%;
}

.cover__link::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #2A2C2F;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  transition: opacity .2s ease;
}

.cover__link:hover::before {
  opacity: .8;
}
