.places__title {
  margin: 0 16px 32px 16px;
  font-weight: 900;
  font-size: 32px;
  line-height: calc(35 / 32);
}

@media screen and (min-width: 768px) {
  .places__title {
    margin: 0 0 48px 0;
    font-size: 42px;
    max-width: 328px;
    line-height: calc(46 / 42);
  }
}

@media screen and (min-width: 1024px) {
  .places__title {
    max-width: 440px;
    font-size: 72px;
    line-height: calc(76 / 72);
  }
}

@media screen and (min-width: 1024px) {
  .places__title {
    max-width: 460px;
  }
}
