.lead__title {
  margin: 0 auto 16px auto;
  max-width: 288px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  line-height: calc(44 / 40);
}

@media screen and (min-width: 768px) {
  .lead__title {
    margin: 0 auto 32px auto;
    max-width: 720px;
    font-size: 96px;
    line-height: calc(100 / 96);
  }
}
