.cover__title {
  margin: 0 0 16px 0;
  max-width: 288px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: calc(35 / 32);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__title {
    margin-bottom: 32px;
    max-width: 560px;
    font-size: 72px;
    line-height: calc(76 / 72);
  }
}
