.content__lead {
  margin: 48px 0 0;
}

@media screen and (min-width: 1024px) {
  .content__lead {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .content__lead {
    margin-top: 56px;
  }
}
