.card-article__website {
  display: none;
}

@media screen and (min-width: 768px) {
  .card-article__website {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 48px;
  }
}
